autopep8==1.6.0
beautifulsoup4==4.13.4
certifi==2025.7.9
charset-normalizer==3.4.2
cloudpickle==3.0.0
contourpy==1.2.1
cycler==0.12.1
fonttools==4.52.1
gym==0.26.0
gym-notices==0.1.0
idna==3.10
importlib_metadata==8.7.1
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.5.2
numpy==1.23.1
opencv-python==4.6.0.66
packaging==24.0
pandas==2.2.2
patsy==1.0.1
Pillow==9.2.0
pycodestyle==2.8.0
pygame==2.5.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.4
scipy==1.13.1
six==1.16.0
soupsieve==2.7
statsmodels==0.14.4
toml==0.10.2
torch==1.12.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.5.0
zipp==3.23.0
